<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> Hurry! Your price went up! <%= @flight.user.name %></h1>
    <p>Your price change from <%= @upperPrice %> to $<%= @price %></p>
    <p>
        Goto this link: <%= @url %> to see the price.
    </p>
  </body>
</html>